/* Importing a Google Font */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@700&display=swap');

/* Changing the main font and background colour */

body {
	font-family: "Open sans", sans-serif;
	background-color: #fffcf8;
}


/* Changing the background color for the navigation bar */

.navbar {
	background-color: #fff0e0;
}

/* Effect on social media buttons */

footer a:hover {
	opacity: .5;
}

/* Corporate navbar */

#navbar-corporate a.active {
	color: #800000;
	font-weight: bold;
}

.carousel-item h1{
	font-family: 'Averia Serif Libre', cursive;
	color: #FFF6EC;
	font-size: 4em;
	text-shadow: 2px 2px 4px #2e2e2e;
}

.carousel-item h2{
	font-family: 'Averia Serif Libre', cursive;
	color: #FFF6EC;
	font-size: 3em;
	text-shadow: 2px 2px 4px #2e2e2e;
}

.landing-1 {
	padding: 3em;
	background-color:#C4D8D1;
}

.landing-1 h1 {
	font-family: 'Averia Serif Libre', cursive;
	color: #036460;
	font-size: 3.5em;
}

.landing-2 {
	padding: 3em;
	background-color: #F49737;
	color: #000000;
}

.landing-2 h1 {
	font-family: 'Averia Serif Libre', cursive;
	color: #FBCEA4;
	font-size: 3.5em;
}

.who-1{
	margin-right: 10px;
}

.who-2{
	margin-top: 55px;
}

.values {
	margin-bottom: 15px;
}


.container{
	padding-top: 2em;
	padding-bottom: 2em;
}

.container h1 {
	font-family: 'Averia Serif Libre', cursive;
	color: #036460;
	font-size: 3.5em;
	margin-bottom: 25px;
}

.container h2 {
	font-family: 'Montserrat', cursive;
	color: #472412;
}

h4 {
	font-family: 'Montserrat', cursive;
	color: #472412;
}

.container-1{
	padding-top: 0em;
	padding-bottom: 5em;
}

.col1 {
	background-color: #037671;
	padding: 25px;
}

.col2 {
	background-color: #FBCEA4;
	padding: 25px;
}

.col3 {
	background-color: #AFCAC1;
	padding: 25px;
}

.col4 {
	background-color: #F49737;
	padding: 25px;
}

.team h1{
	margin-bottom: 0px;
}

.corporate {
	padding: 1em;
	background-color: #036460;
}

.corporate h1 {
	font-family: 'Averia Serif Libre', cursive;
	color: #fbcea4;
	font-size: 3.5em;
	margin-bottom: 25px;
}

.nav-link {
	color: #036460;
}