/* Importing a Google Font */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap');

/* Changing the main font and background colour */

body {
	font-family: Raleway, sans-serif;
	background-color: #fffcf8;
}

/* Changing the background colour for the header */

header {
	background-color: #000060;
}

/* Changing the background color for the navigation bar */

.navbar {
	background-color: #fff0e0;
}

/* Effect on social media buttons */

footer a:hover {
	opacity: .5;
}

/* Corporate navbar */

#navbar-corporate a.active {
	color: #800000;
	font-weight: bold;
}

.landing {
	background-color: #036460;
	padding: 2em;
	display: flex;
    justify-content: center
}

.landing-logo {
	position: absolute;
	left: 50px;
	margin-left: 100px;
}

.landing-h1 h1 {
	font-family: 'Averia Serif Libre', cursive;
	color: #FBCEA4;
	font-size: 3.5em;
	position: absolute;
	right: 150px;
	margin-left: 100px;
}
